@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

.hexagon-grid {
  background-size: 50px 43.4px;
  background-position: 0 0, 25px 21.7px;
}